<div role="tabpanel" class="tab-pane fade active in" id="model-list" aria-labelledby="model-list-tab">
    <br>
    <div class="row">
        <div class="col-md-offset-1 col-md-10 nlu-appmodel-table">
            <table class="table table-condensed table-bordered table-hover">
                <thead>
                    <th>服务名</th>
                    <th>服务版本</th>
                    <th>模型名</th>
                    <th>模型版本</th>
                    <th>模型存放路径</th>
                    <th>状态</th>
                    <th>更新时间</th>
                </thead>
                <tbody>
                    <tr ng-repeat="mt in model.model_list">
                        <td title="{{mt.service_name}}" ng-click="show_info(mt.service_name)">{{mt.service_name| limitTo:15}}...</td>
                        <td title="{{mt.service_type}}" ng-click="show_info(mt.service_type)">{{mt.service_type| limitTo:15}}...</td>
                        <td>{{mt.model_template}}</td>
                        <td>{{mt.version}}</td>
                        <td>{{mt.output_path}}</td>
                        <td>
                            <div class="progress" style="margin-bottom: 0 !important;">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: {{mt.process}}%;">
                                    {{mt.process}}%（{{mt.status_name}}）
                                </div>
                            </div>
                        </td>
                        <td>{{mt.update_time}}</td>
                    </tr>
            </table>
            <div class="btn-toolbar nlu-page" pageall="{{model.pageall}}" pagesize="{{model.per_num}}" current="{{model.this_page}}">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button class="btn btn-default" ng-click="goto_page(1);"><i class="icon-step-backward"></i> 首页</button>
                        <button class="btn btn-default" ng-click="goto_page(model.pre_page);"><i class="icon-chevron-left"></i> 上一页</button>
                        <button class="btn btn-primary">{{model.this_page}}</button>
                        <button class="btn btn-default" ng-click="goto_page(model.next_page);">下一页 <i class="icon-chevron-right"></i></button>
                        <button class="btn btn-default" ng-click="goto_page(model.pageall);">末页 <i class="icon-step-forward"></i></button>
                        <button class="btn btn-default disabled">共({{model.total}}项，共{{model.pageall}}页)</button>
                        <div class="input-group input-group col-md-2">
                            <input type="text" class="form-control" id="model_list_goto_page" value="{{goto_some_page}}" placeholder="跳转页" ng-model="goto_some_page">
                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="goto_page(goto_some_page);" ><span class="glyphicon glyphicon-search" ></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /col-md-offset-1 col-md-10 -->
    </div>
    <!-- /row -->
</div>
</div>
