<div role="tabpanel" class="tab-pane fade" ng-class="{true: 'tab-pane fade active in', false: 'tab-pane fade'}[setting.auth_assign_isActive]" id="user_slots_div" aria-labelledby="app-auth-assign-tab" class="col-md-10">
    <br>
    <div class="row">
        <div class="col-md-offset-1 col-md-10 nlu-appmodel-table">
            <div class="alert alert-warning alert-dismissible fade in" role="alert" ng-show="!response_data['data'].user_list.length">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                {{slot.intent_name}} 暂无用户，请先进行添加。
            </div>
            <table class="table table-condensed table-bordered table-hover" ng-show="response_data['data'].user_list.length">
                <thead>
                    <th>用户名</th>
                    <th>app name</th>
                    <th>角色</th>
                    <th>操作</th>
                </thead>
                <tbody>
                    <tr ng-repeat-start="user in response_data['data'].user_list">
                        <td rowspan="{{user.app_list.length}}">{{user.username}}
                        </td>
                        <td>{{user.app_list[0].appname}}
                            <!--           <span ng-if="ng_slot.intent_list[0].intent_description">({{ng_slot.intent_list[0].intent_description}})</span> --></td>
                        <td>
                            {{user.app_list[0].role}}
                        </td>
                        <td class="col-md-3">
                            <div class="slot_up_down" >
                                <span class="glyphicon glyphicon-edit" title="编辑" data-toggle="modal" data-target="#edit_auth_{{user.app_list[0].id}}"></span>
                                <!-- <span class="glyphicon glyphicon-ok-circle" title="验证"></span> -->
                                <span style="margin-left: 30px" class="glyphicon glyphicon-trash" title="删除" ng-click="delete_auth(user.app_list[0].id,user.username)"></span>
                                <div class="modal fade" id="edit_auth_{{user.app_list[0].id}}" tabindex="-1" role="dialog" aria-labelledby="myModalEdit" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="myModalEdit">修改权限</h4>
                                            </div>
                                            <div class="modal-body">
                                                <br>
                                                <form class="form-horizontal" role="form" id="edit_auth_form_{{user.app_list[0].id}}">
                                                    <div class="form-group">
                                                        <label for="query" class="col-sm-3 control-label">用户名</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="intent_name" placeholder="{{user.username}}" disabled="true">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="query" class="col-sm-3 control-label">app name</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="intent_name" placeholder="{{user.app_list[0].appname}}" disabled="true">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="intent" class="col-sm-3 control-label">角色</label>
                                                        <div class="col-sm-9">
                                                            <select id="edit_role_select_{{user.app_list[0].id}}" class="form-control" placeholder="选择一个role" name="func_slot">
                                                                <option ng-repeat="role_option  in response_data['data'].role_list" ng-if = "role_option.role==user.app_list[0].role" selected="true" value="{{role_option.id}}">{{role_option.role}}
                                                                </option>
                                                                <option ng-repeat="role_option  in response_data['data'].role_list" ng-if = "role_option.role!=user.app_list[0].role" value="{{role_option.id}}">{{role_option.role}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary" ng-click="edit_auth(user.app_list[0])">修改</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="edit_cancel_{{user.app_list[0].id}}">取消</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <label ng-click = "slot_export(ng_slot)" class="btn btn-primary btn-xs">下载</label>  -->
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-repeat="app in user.app_list.slice(1)">
                        <td>{{app.appname}}
                            <!--           <span ng-if="ng_slot.intent_list[0].intent_description">({{ng_slot.intent_list[0].intent_description}})</span> --></td>
                        <td>
                            {{app.role}}
                        </td>
                        <td class="col-md-3">
                            <div class="slot_up_down" >
                                <span  class="glyphicon glyphicon-edit" title="编辑" data-toggle="modal" data-target="#edit_auth_{{user.app.id}}"></span>
                                <!-- <span class="glyphicon glyphicon-ok-circle" title="验证"></span> -->
                                <span style="margin-left: 30px" class="glyphicon glyphicon-trash" title="删除" ng-click="delete_auth(app.id)"></span>
                                <div class="modal fade" id="edit_auth_{{user.app.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalEdit" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="myModalEdit">修改权限</h4>
                                            </div>
                                            <div class="modal-body">
                                                <br>
                                                <form class="form-horizontal" role="form" id="edit_auth_form_{{app.id}}">
                                                    <div class="form-group">
                                                        <label for="query" class="col-sm-3 control-label">用户名</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="intent_name" placeholder="{{user.username}}" disabled="true">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="query" class="col-sm-3 control-label">app name</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="intent_name" placeholder="{{app.appname}}" disabled="true">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="intent" class="col-sm-3 control-label">角色</label>
                                                        <div class="col-sm-9">
                                                            <select id="edit_role_select_{{app.id}}" class="form-control" placeholder="选择一个role" name="func_slot">
                                                                <option ng-repeat="role_option  in response_data['data'].role_list" ng-if = "role_option.role==app.role" selected="true" value="{{role_option.id}}">{{role_option.role}}
                                                                </option>
                                                                  <option ng-repeat="role_option  in response_data['data'].role_list" ng-if = "role_option.role!=app.role"  value="{{role_option.id}}">{{role_option.role}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary" ng-click="edit_auth(app)">修改</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="edit_cancel_{{app.id}}">取消</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <label ng-click = "slot_export(ng_slot)" class="btn btn-primary btn-xs">下载</label>  -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="" class="btn btn-primary add-intent" data-toggle="modal" data-target="#auth_add_user">新增用户</a>
            <!-- copy Modal -->
            <div class="modal fade" id="auth_add_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">新增用户</h4>
                        </div>
                        <div class="modal-body">
                            <br>
                            <form class="form-horizontal" role="form" id="add_auth_assign_form">
                                <div class="form-group">
                                    <label for="query" class="col-sm-3 control-label">用户名</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="add_username" placeholder="只能输入A-Z a-z 0-9以及_">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="intent" class="col-sm-3 control-label">app name</label>
                                    <div class="col-sm-9">
                                        <select id="add_select_appname" class="form-control" placeholder="选择一个app name" name="func_slot">
                                            <option ng-repeat="app_option  in response_data['data'].app_list" value="{{app_option.id}}">{{app_option.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="intent" class="col-sm-3 control-label">角色</label>
                                    <div class="col-sm-9">
                                        <select id="add_select_role" class="form-control" placeholder="选择一个role" name="func_slot">
                                            <option ng-repeat="role_option  in response_data['data'].role_list" value="{{role_option.id}}">{{role_option.role}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" ng-click="add_auth()">新增</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="add_auth_assign_cancel">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-toolbar nlu-page">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button class="btn btn-default" ng-click="goto_page(1);"><i class="icon-step-backward"></i> 首页</button>
                        <button class="btn btn-default" ng-click="goto_page(setting.cur_page - 1);"><i class="icon-chevron-left"></i> 上一页</button>
                        <button class="btn btn-primary">{{setting.cur_page}}</button>
                        <button class="btn btn-default" ng-click="goto_page(setting.cur_page + 1);">下一页 <i class="icon-chevron-right"></i></button>
                        <button class="btn btn-default" ng-click="goto_page(setting.total_page);">末页 <i class="icon-step-forward"></i></button>
                        <button class="btn btn-default disabled">共({{setting.total_num}}项，共{{setting.total_page}}页)</button>
                        <div class="input-group input-group col-md-2">
                            <input type="text" class="form-control" id="model_list_goto_page" value="{{goto_some_page}}" placeholder="跳转页" ng-model="goto_some_page">
                            <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button" ng-click="goto_page(goto_some_page);" ><span class="glyphicon glyphicon-search" ></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
