
<div>

    <div role="tabpanel" class="tab-pane fade active in" ng-class="{true: 'tab-pane fade active in', false: 'tab-pane fade'}[settings.slot_isActive]" id="settings-intent-slot" aria-labelledby="settings-slot" ng-show="slot.isSlotShow">


        <div class="row">
             
            <div class="col-md-offset-1 col-md-10 nlu-appmodel-table">
             <div class="col-md-12">
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert" ng-if="appid <= 697">
                                        <b>【详细配置】【自定义槽位组合】功能如欲使用，请联系管理员升级app</b>
                                    </div>
                                    </div>
                <a href="" ng-click="slot_return()" class="btn btn-default">返回</a>
                <hr>
                <h4 id ="create_sub_slot_pos">基本信息</h4>
                  <div class="form-horizontal" role="form" id="form_import">
                    <div class="form-group" ng-show="cur_select_slot_name==''">
                        <label for="query" class="col-sm-3 control-label">槽位名称</label>
                        <div class="col-sm-1">
                            <label class="control-label">user_</label>
                        </div>
                        <div class="col-sm-8" style="margin-left: -4%;width: 69%;">
                        <input type="text" class="form-control" id="slot_name_input" placeholder="输入 a-z 0-9 或 _， 例如： user_time_001">
                        </div>
                    </div>
                      <div class="form-group" ng-show="cur_select_slot_name!=''">
                        <label for="query" class="col-sm-3 control-label">槽位名称</label>
                        <div class="col-sm-3">
                            <label class="control-label">{{cur_select_slot_name}}</label>
                        </div>
                        <!-- <div class="col-sm-8" style="margin-left: -4%;width: 69%;">
                         
                        </div> -->
                    </div>
                    <div class="form-group">
                        <label for="query" class="col-sm-3 control-label" >中文描述</label>
                        <div class="col-sm-9" >
                        <input type="text" class="form-control"  ng-model="cur_select_slot_description" id="slot_description_input" placeholder="">
                        </div>
                    </div>
                <div ng-show="!cur_select_slot_name.startsWith('sys') && cur_select_slot != ''">
                <h4 >详细配置</h4>
                <div class="form-group" >
                        <label for="query" class="col-sm-3 control-label">复用系统槽位</label>
                        <div class="col-sm-9" >
                          <ul style="margin-left: 0%;min-height: 150px; overflow: auto;" id="ztree" class="ztree"> 
                          </ul>

                        </div>
                </div>

              
                 <h4>词典配置</h4>
                  <div class="form-group">
                         <div class="slot_up_down" style="margin-left: 21%;">
                                     <!--    <label class="ui_button ui_button_primary btn btn-primary btn-xs" for="upload_file_{{appid}}_{{ng_slot.id}}_{{ng_slot.slot_name}}" style="float:left">上传
                                        </label>
                                        <form id="form_upload_file_{{appid}}_{{ng_slot.id}}_{{ng_slot.slot_name}}">
                                            <input type="file" id="upload_file_{{appid}}_{{ng_slot.id}}_{{ng_slot.slot_name}}" style="position:absolute;clip:rect(0 0 0 0);" name="file_name_test" ng-change="slot_import(this.id)">
                                        </form> -->



                                        <a style="float:left;margin-left: 5px;"  ng-if = "cur_select_slot.slot_name.toLowerCase().startsWith('sys')" disabled class="ui_button ui_button_primary btn btn-primary " data-toggle="modal" ng-click="slotword_edit(cur_select_slot)" data-target="#edit_intervention_{{appid}}_{{cur_select_slot.id}}">编辑</a>
                                         <a style="float:left;    margin-left: 5px;"  ng-if = "!cur_select_slot.slot_name.toLowerCase().startsWith('sys')" class="ui_button ui_button_primary btn btn-primary" data-toggle="modal" ng-click="slotword_edit(cur_select_slot)" data-target="#edit_intervention_{{appid}}_{{cur_select_slot.id}}">编辑</a>

                                          <div class="modal fade" id="edit_intervention_{{appid}}_{{cur_select_slot.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">编辑词表</h4>
                            </div>
                            <div class="modal-body">
                                <br>
                                <textarea id="textarea_{{appid}}_{{cur_select_slot.id}}" cols="80" rows="18">

                                </textarea>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" ng-click="slotword_save(cur_select_slot)">保存</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_edit_{{appid}}_{{cur_select_slot.id}}_{{cur_select_slot.slot_name}}">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                                         <a style="float:left;    margin-left: 5px;"  ng-if = "cur_select_slot.slot_name.toLowerCase().startsWith('sys')" disabled class="ui_button ui_button_primary btn btn-warning " data-toggle="modal" data-target="#import_intervention_{{appid}}_{{cur_select_slot.id}}">上传</a>
                                         <a  style="float:left;    margin-left: 5px;"  ng-if = "!cur_select_slot.slot_name.toLowerCase().startsWith('sys')" class="ui_button ui_button_primary btn btn-warning " data-toggle="modal" data-target="#import_intervention_{{appid}}_{{cur_select_slot.id}}">上传</a>
                                            <a ng-if = "!cur_select_slot.slot_name.toLowerCase().startsWith('sys')" href="/mana/export?slot_id={{cur_select_slot.id}}&appid={{appid}}&slot_name={{cur_select_slot.slot_name}}" class="btn btn-success " style="float:left;margin-left: 5px;" >下载
                                         <!-- <a hidden="true" id = "href_{{appid}}_{{ng_slot.id}}"/> -->
                                         </a>
                                          <a ng-if = "cur_select_slot.slot_name.toLowerCase().startsWith('sys')"  disabled href="/mana/export?slot_id={{cur_select_slot.id}}&appid={{appid}}&slot_name={{cur_select_slot.slot_name}}"  class="btn btn-success " style="float:left;    margin-left: 5px;" >下载
                                       <!--   <a hidden="true" id = "href_{{appid}}_{{ng_slot.id}}"/> -->
                                         </a>

                                       <!--   <button ng-if = "!ng_slot.slot_name.toLowerCase().startsWith('sys')"  ng-click="try_download(ng_slot.id,appid,ng_slot.slot_name)"  class="btn btn-success btn-xs" style="float:left;    margin-left: 5px;" >下载
                                         <a hidden="true" id = "href_{{appid}}_{{ng_slot.id}}"/>
                                         </button>
                                          <button ng-if = "ng_slot.slot_name.toLowerCase().startsWith('sys')"  disabled ng-click="try_download(ng_slot.id,appid,ng_slot.slot_name)"  class="btn btn-success btn-xs" style="float:left;    margin-left: 5px;" >下载
                                         <a hidden="true" id = "href_{{appid}}_{{ng_slot.id}}"/>
                                         </button> -->
                <!-- copy Modal -->
                <div class="modal fade" id="import_intervention_{{appid}}_{{cur_select_slot.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">上传词表（需要UTF-8编码）</h4>
                            </div>
                            <div class="modal-body">
                                <br>
                                <form class="form-horizontal" role="form" id="form_upload_file_{{appid}}_{{cur_select_slot.id}}_{{cur_select_slot.slot_name}}">
                                   <div class="form-group">
                                         <label for="query"  class="col-sm-2 control-label">样本文件</label>
                                        <div class="col-sm-10">
                                           <a style="float: left;margin-top: 1%" href="/mana/sampleslotwords">点击下载</a>
                                        </div>
                                    </div>
                                      <div class="form-group">
                                         <label for="query"  class="col-sm-2 control-label">样本文件</label>
                                        <div class="col-sm-10">
                                            <input type="file" class="form-control" name="file_name_test" id="upload_file_{{appid}}_{{cur_select_slot.id}}_{{cur_select_slot.slot_name}}">
                                        </div>
                                    </div>
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" ng-click="slot_import(appid,cur_select_slot)">上传</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_import_{{appid}}_{{cur_select_slot.id}}_{{cur_select_slot.slot_name}}">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                                    </div>
                </div>
        <button  id="zhedie_button" style="float: none;" class="btn btn-default btn-xs " data-toggle="collapse"  data-target="#advanced_func">
                高级选项
        </button>
      <!--end <div ng-show="!cur_select_slot_name.startsWith('sys')"> -->
            <br>
            <br>
            <div id="advanced_func" class="collapse">
            <h4>自定义槽位组合</h4>
                <div class="form-group">
                    <label  class="col-sm-3 control-label">系统可组合槽位&nbsp;<span  style="font-size: 20px;vertical-align: middle;color: #1ba8ed;" onMouseOver="$(this).tooltip('show')" data-toggle="tooltip" data-placement="top" title="系统槽位中只有部分用于被组合"><icon class="glyphicon glyphicon-question-sign"></icon></span></label>
                    <div class="col-sm-9">
                        <table  class="table table-condensed table-bordered table-hover">
                        <thead>
                          <th>
                          槽位名词
                          </th>
                          <th>
                          描述
                          </th>
                           <th>
                          槽位名词
                          </th>
                          <th>
                          描述
                          </th>
                          </thead>
                          <tbody>
                          <tr ng-repeat="slot_array in sys_combine_slots">
                          <td style="text-align:left">
                            <button style="margin-right: 3px;margin-top: 2%;" type="button" class="btn btn-default btn-xs"  ng-click="select_combine_slot(slot_array[0].slot_name)">{{slot_array[0].slot_name}}</button>
                          </td>
                          <td style="text-align:left">
                          {{slot_array[0].description}}
                          </td>
                            <td style="text-align:left">
                            <button style="margin-right: 3px;margin-top: 2%;" type="button" class="btn btn-default btn-xs"  ng-click="select_combine_slot(slot_array[1].slot_name)">{{slot_array[1].slot_name}}</button>
                          </td>
                          <td style="text-align:left">
                          {{slot_array[1].description}}
                          </td>
                          </tr>
                          </tbody>

                        </table>
                    </div>

                </div>
                  <div class="form-group">
                    <label  class="col-sm-3 control-label">自定义可组合槽位&nbsp;<span  style="font-size: 20px;vertical-align: middle;color: #1ba8ed;" onMouseOver="$(this).tooltip('show')" data-toggle="tooltip" data-placement="top" title="用户自定义且仅包含词典配置的槽位才可以组合"><icon class="glyphicon glyphicon-question-sign"></icon></span></label>
                    <div class="col-sm-9">
                    <button style="margin-right: 3px;margin-top: 2%;" type="button" class="btn btn-default btn-xs" ng-repeat="slot in user_combine_slots" ng-click="select_combine_slot(slot.slot_name)">{{slot.slot_name}}</button>
                 <!--       <button type="button" class="btn btn-primary">user_A</button>
                       <button  type="button" class="btn btn-primary">user_B</button>
                       <button type="button" class="btn btn-primary">user_C</button> -->
                    </div>
                </div>
                 <div class="form-group">
                    <label  class="col-sm-3 control-label">当前插入槽位</label>
                    <div class="col-sm-6">
                       <table class="table table-condensed table-bordered table-hover">
                           <thead>
                               <th style="text-align:center;">
                               可组合槽位
                               </th>
                               <th style="text-align:center;">
                               最小重复次数
                               </th>
                               <th style="text-align:center;">
                                最大重复次数
                               </th>
                               <th>
                               操作
                               </th>
                           </thead>
                           <tbody>
                           <td >
                            <span >{{cur_select_combine_slot}}</span>
                           </td>
                           <td >
                            <input onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" style="width: 50%;margin-left: 25%" ng-model="min_repeat" type="text" class="form-control" value="0" placeholder="输入数字">  
                           </td>
                           <td >
                             <input onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" style="width: 50%;margin-left: 25%" ng-model="max_repeat" type="text" class="form-control" value="2" placeholder="输入数字">    
                           </td>
                           <td>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="add_combine_pattern(min_repeat, max_repeat)">添加</button>
                            </td>
                            </tbody>
                        </table>
                    </div>

                    <div class="alert alert-warning col-sm-2" ng-show="warning_msg != ''" >
            <!--   <a href="#top" class="close" data-dismiss="alert" >
                &times;
                </a> -->
  <strong>添加失败！</strong>{{warning_msg}}
            </div>
                    </div>
      
                 <div class="form-group">
                    <label  class="col-sm-3 control-label">当前pattern</label>
                    <div class="col-sm-6">
                       <textarea  cols="47" rows="4"  class="form-control"  id="combine_pattern" tabindex="1"></textarea>
                    </div>
                    <script type="text/javascript">
                      $("#combine_pattern").bind("keydown", function(e) {
                // 兼容FF和IE和Opera
                var theEvent = e || window.event;
        var code = theEvent.keyCode || theEvent.which || theEvent.charCode;

                  if (code == 13) {
        //回车执行查询
        // $("#btn-chat-sent").click();

        // $("#bot_msg").focus();
        // //$("#bot_msg").select();
        // e.returnValue = false;
                  return false;
                 }
              });
                    </script>
                    <div class="col-sm-1" ">
                    <button type="button" style="margin-top: 60%" class="btn btn-primary" ng-click="save_pattern()">添加该pattern</button>
                    </div>
                </div>
                <br>
                <div class="alert alert-warning alert-dismissible fade in" role="alert" ng-show="!pattern_list || pattern_list.length==0">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    槽位下暂无pattern，请先进行添加。
                </div>
              <div class="form-group" ng-show="pattern_list && pattern_list.length!=0">
                <label  class="col-sm-3 control-label">已标注pattern</label>
                <div class="col-sm-8">
                <table class="table table-condensed table-bordered table-hover">
                  <thead>
                    <th>已标注pattern</th>
                    <th>状态</th>
                    <th>操作</th>
                  </thead>
                  <tbody>
                  <tr ng-repeat="pattern in pattern_list">
                    <td style="text-align:left" >{{pattern.pattern}}</td>
                    <td ng-if="pattern.status == 'ineffective'">未生效</td>
                    <td ng-if="pattern.status == 'effective'">已生效</td>
                    <td> <button class="btn btn-xs btn-danger" ng-click="delete_pattern($index)">删除</button></td>
                  </tr>
                  </tbody>
                </table>
                </div>
              </div>
            </div>
            </div>
            <div class="form-group">
                <button ng-show="cur_select_slot_name && cur_select_slot_name != ''" type="button" style="float: right;" class="btn btn-primary" ng-click="save_slot('save')">保存修改</button>
                <button ng-show="!cur_select_slot_name || cur_select_slot_name == ''" type="button" style="float: right;" class="btn btn-primary" ng-click="save_slot('create')">确认创建</button>
            </div>
            </div>
            </div>
        </div>
    </div>



    <div role="tabpanel" class="tab-pane fade" ng-class="{true: 'tab-pane fade active in', false: 'tab-pane fade'}[slots.slots_isActive]" id="user_slots_div" aria-labelledby="slots-tab" ng-show="!slot.isSlotShow" class="col-md-10">
        <br>
        <div class="row">
                
            <div class="col-md-offset-1 col-md-10 nlu-appmodel-table">
               <div class="col-md-12">
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert" ng-if="appid <= 697">
                                        <b>【词表编辑】功能请点击具体槽位进行编辑即可看到</b>
                                    </div>
                                    </div>
                <div class="alert alert-warning alert-dismissible fade in" role="alert" ng-show="!slot.slot_list.length">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    {{slot.intent_name}} 该app下暂无槽位，请先进行添加。
                </div>
                <div ng-show="slot.slot_list.length">
                    <h4 class="">槽位列表</h4>
                    <table class="table table-condensed table-bordered table-hover">
                        <thead>
                            <th>槽位</th>
                            <th>对应意图</th>
                            <th>操作</th>
                       <!--      <th>词表操作</th> -->
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="ng_slot in slot.slot_list">
                                <td rowspan="{{ng_slot.intent_list.length}}">
                                <a  href=""  ng-click="edit_slots(ng_slot, 'user_sub_dict');"> {{ng_slot.slot_name}}</a>


                               
                                    <span ng-if="ng_slot.description">({{ng_slot.description}})</span></td>
                                <td>{{ng_slot.intent_list[0].intent_name}}
                                    <!-- <span ng-if="ng_slot.intent_list[0].intent_description">({{ng_slot.intent_list[0].intent_description}})</span> --></td>
                                <td rowspan="{{ng_slot.intent_list.length}}"> <button class="btn btn-xs btn-danger" ng-click="delete_slot(ng_slot.slot_name)">删除</button></td>

                              <!--   <td rowspan="{{ng_slot.intent_list.length}}" class="col-md-3"> -->
                                   <!--  <div class="slot_up_down" style="margin-left: 21%;">
                      



                                        <a style="float:left;    margin-left: 5px;"  ng-if = "ng_slot.slot_name.toLowerCase().startsWith('sys')" disabled class="ui_button ui_button_primary btn btn-primary btn-xs" data-toggle="modal" ng-click="slotword_edit(ng_slot)" data-target="#edit_intervention_{{appid}}_{{ng_slot.id}}">编辑</a>
                                         <a style="float:left;    margin-left: 5px;"  ng-if = "!ng_slot.slot_name.toLowerCase().startsWith('sys')" class="ui_button ui_button_primary btn btn-primary btn-xs" data-toggle="modal" ng-click="slotword_edit(ng_slot)" data-target="#edit_intervention_{{appid}}_{{ng_slot.id}}">编辑</a>

                                          <div class="modal fade" id="edit_intervention_{{appid}}_{{ng_slot.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">编辑词表</h4>
                            </div>
                            <div class="modal-body">
                                <br>
                                <textarea id="textarea_{{appid}}_{{ng_slot.id}}" cols="70" rows="18">

                                </textarea>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" ng-click="slotword_save(ng_slot)">保存</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_edit_{{appid}}_{{ng_slot.id}}_{{ng_slot.slot_name}}">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>








                                         <a style="float:left;    margin-left: 5px;"  ng-if = "ng_slot.slot_name.toLowerCase().startsWith('sys')" disabled class="ui_button ui_button_primary btn btn-warning btn-xs" data-toggle="modal" data-target="#import_intervention_{{appid}}_{{ng_slot.id}}">上传</a>
                                         <a  style="float:left;    margin-left: 5px;"  ng-if = "!ng_slot.slot_name.toLowerCase().startsWith('sys')" class="ui_button ui_button_primary btn btn-warning btn-xs" data-toggle="modal" data-target="#import_intervention_{{appid}}_{{ng_slot.id}}">上传</a>
                                            <a ng-if = "!ng_slot.slot_name.toLowerCase().startsWith('sys')" href="/mana/export?slot_id={{ng_slot.id}}&appid={{appid}}&slot_name={{ng_slot.slot_name}}" class="btn btn-success btn-xs" style="float:left;margin-left: 5px;" >下载
                                        
                                         </a>
                                          <a ng-if = "ng_slot.slot_name.toLowerCase().startsWith('sys')"  disabled href="/mana/export?slot_id={{ng_slot.id}}&appid={{appid}}&slot_name={{ng_slot.slot_name}}"  class="btn btn-success btn-xs" style="float:left;    margin-left: 5px;" >下载
                                      
                                         </a>

                <div class="modal fade" id="import_intervention_{{appid}}_{{ng_slot.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">上传词表（需要UTF-8编码）</h4>
                            </div>
                            <div class="modal-body">
                                <br>
                                <form class="form-horizontal" role="form" id="form_upload_file_{{appid}}_{{ng_slot.id}}_{{ng_slot.slot_name}}">
                                   <div class="form-group">
                                         <label for="query"  class="col-sm-2 control-label">样本文件</label>
                                        <div class="col-sm-10">
                                           <a style="float: left;margin-top: 1%" href="/mana/sampleslotwords">点击下载</a>
                                        </div>
                                    </div>
                                      <div class="form-group">
                                         <label for="query"  class="col-sm-2 control-label">样本文件</label>
                                        <div class="col-sm-10">
                                            <input type="file" class="form-control" name="file_name_test" id="upload_file_{{appid}}_{{ng_slot.id}}_{{ng_slot.slot_name}}">
                                        </div>
                                    </div>
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" ng-click="slot_import(appid, ng_slot)">上传</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_import_{{appid}}_{{ng_slot.id}}_{{ng_slot.slot_name}}">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                                    </div>
                              -->
                         <!--        </td> -->
                            </tr>
                            <tr ng-repeat-end ng-repeat="intent in ng_slot.intent_list.slice(1)">
                                <td>{{intent.intent_name}}
                                   <!--  <span ng-if="intent.intent_description">     ({{intent.intent_description}})</span> --> </td>
                            </tr>

                        </tbody>
                    </table>
                    <div style="margin-top: 30px" class="nlu-action">
                                      <!--   <button ng-click="word_table_take_effect()" class="btn btn-nlu">词表生效</button> -->
                         <a class="btn btn-info" href="/all/index?appid={{appid}}" >返回应用全景</a>
                         <button ng-show="service_status ==1" href=""  data-toggle="modal" data-target="#model-word_table_take_effect"  class="btn btn-danger">用户词典生效</button>
                         <a ng-click="create_slots();" class="btn btn-primary">创建槽位</a>




                                                      <div class="modal fade" id="model-word_table_take_effect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">填入描述信息</h4>
                            </div>
                            <div class="modal-body">
                                <br>
                                <form class="form-horizontal" role="form" id="form_train_all_pattern_description">
                                    <div class="form-group">
                                    <label for="query" class="col-sm-3 control-label">描述信息(最多可填50字符)</label>
                                        <div class="col-sm-9">
                                            <textarea  id="description" cols="40" rows="7" ng-maxlength="50" maxlength="50">{{time}}</textarea>
                                    <!--         <input  style="height: 80px" type="text" class="form-control" name="file_name_test" > -->
                                        </div>
                                    </div>

                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" ng-click="word_table_take_effect()">提交</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_word_table_take_effect">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                                    </div>
                    <div class="btn-toolbar nlu-page">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <button class="btn btn-default" ng-click="goto_page(1);"><i class="icon-step-backward"></i> 首页</button>
                                <button class="btn btn-default" ng-click="goto_page(page_setting.cur_page - 1);"><i class="icon-chevron-left"></i> 上一页</button>
                                <button class="btn btn-primary">{{page_setting.cur_page}}</button>
                                <button class="btn btn-default" ng-click="goto_page(page_setting.cur_page + 1);">下一页 <i class="icon-chevron-right"></i></button>
                                <button class="btn btn-default" ng-click="goto_page(page_setting.total_page);">末页 <i class="icon-step-forward"></i></button>
                                <button class="btn btn-default disabled">共({{page_setting.total_num}}项，共{{page_setting.total_page}}页)</button>
                                <div class="input-group input-group col-md-2">
                                    <input type="text" class="form-control" id="model_list_goto_page" value="{{goto_some_page}}" placeholder="跳转页" ng-model="goto_some_page">
                                    <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button" ng-click="goto_page(goto_some_page);" ><span class="glyphicon glyphicon-search" ></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /col-md-offset-1 col-md-10 -->
                </div>
            </div>
            <!-- /row -->
        </div>
    </div>
     <hr>
     <div role="tabpanel" class="tab-pane fade active in" ng-class="{true: 'tab-pane fade active in', false: 'tab-pane fade'}[!settings.slot_isActive]" id="settings" aria-labelledby="settings" ng-show="!slot.isSlotShow">
        <br>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 nlu-appmodel-table">
                <div class="alert alert-warning alert-dismissible fade in" role="alert" ng-show="keywordlist.length==0">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    {{slot.intent_name}} 该app下暂无添加keywords词典，请先进行添加。
                </div>
                <div ng-show="keywordlist.length!=0">
                    <h4 class="">keywords词典</h4>
                    <table class="table table-condensed table-bordered table-hover">
                        <thead>
                            <th>keyword</th>
                            <th>描述</th>
                            <th style="width: 30%">词表操作</th>
                        </thead>
                        <tbody>

                            <tr ng-repeat="ng_slot in keywordlist">
                                <td>{{ng_slot.name}}</td>
                                <td>{{ng_slot.description}}</td>
                                <td  class="col-md-3">
                                    <div class="slot_up_down" >
                                     <!--    <label class="ui_button ui_button_primary btn btn-primary btn-xs" for="upload_file_{{appid}}_{{ng_slot.id}}_{{ng_slot.slot_name}}" style="float:left">上传
                                        </label>
                                        <form id="form_upload_file_{{appid}}_{{ng_slot.id}}_{{ng_slot.slot_name}}">
                                            <input type="file" id="upload_file_{{appid}}_{{ng_slot.id}}_{{ng_slot.slot_name}}" style="position:absolute;clip:rect(0 0 0 0);" name="file_name_test" ng-change="slot_import(this.id)">
                                        </form> -->


                                         <a style="float:left;margin-left: 11%;"  class="ui_button ui_button_primary btn btn-primary btn-xs" data-toggle="modal" ng-click="keyword_edit(ng_slot)" data-target="#edit_keyword_{{appid}}_{{ng_slot.id}}">编辑</a>
                                          <a style="float:left;margin-left: 5px;"  class="ui_button ui_button_primary btn btn-danger btn-xs" data-toggle="modal" ng-click="del_keywords(ng_slot.id, ng_slot.name)" ">删除</a>

                                          <div class="modal fade" id="edit_keyword_{{appid}}_{{ng_slot.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">编辑词表</h4>
                            </div>
                            <div class="modal-body">
                                <br>
                                <textarea id="textarea_keyword_{{appid}}_{{ng_slot.id}}" cols="70" rows="18">

                                </textarea>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" ng-click="keyword_save(ng_slot)">保存</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_edit_keyword_{{appid}}_{{ng_slot.id}}_{{ng_slot.name}}">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                                         <a style="float:left;    margin-left: 5px;" class="btn btn-warning btn-xs  " data-toggle="modal" data-target="#import_keyword_{{appid}}_{{ng_slot.id}}">上传</a>

                                            <a  href="/mana/keywordexport?id={{ng_slot.id}}&appid={{appid}}&name={{ng_slot.name}}" class="btn btn-success btn-xs" style="float:left;margin-left: 5px;" >下载
                                         <!-- <a hidden="true" id = "href_{{appid}}_{{ng_slot.id}}"/> -->
                                         </a>


                                       <!--   <button ng-if = "!ng_slot.slot_name.toLowerCase().startsWith('sys')"  ng-click="try_download(ng_slot.id,appid,ng_slot.slot_name)"  class="btn btn-success btn-xs" style="float:left;    margin-left: 5px;" >下载
                                         <a hidden="true" id = "href_{{appid}}_{{ng_slot.id}}"/>
                                         </button>
                                          <button ng-if = "ng_slot.slot_name.toLowerCase().startsWith('sys')"  disabled ng-click="try_download(ng_slot.id,appid,ng_slot.slot_name)"  class="btn btn-success btn-xs" style="float:left;    margin-left: 5px;" >下载
                                         <a hidden="true" id = "href_{{appid}}_{{ng_slot.id}}"/>
                                         </button> -->
                <!-- copy Modal -->
                <div class="modal fade" id="import_keyword_{{appid}}_{{ng_slot.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">上传词表（需要UTF-8编码）</h4>
                            </div>
                            <div class="modal-body">
                                <br>
                                <form class="form-horizontal" role="form" id="form_upload_keyword_file_{{appid}}_{{ng_slot.id}}_{{ng_slot.name}}">
                                   <div class="form-group">
                                         <label for="query"  class="col-sm-2 control-label">样本文件</label>
                                        <div class="col-sm-10">
                                           <a style="float: left;margin-top: 1%;" href="/mana/sampleslotwords">点击下载</a>
                                        </div>
                                    </div>
                                      <div class="form-group">
                                         <label for="query"  class="col-sm-2 control-label">上传文件</label>
                                        <div class="col-sm-10">
                                            <input type="file" class="form-control" name="file_name_test" id="upload_keyword_file_{{appid}}_{{ng_slot.id}}_{{ng_slot.name}}">
                                        </div>
                                    </div>
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" ng-click="keyword_import(appid, ng_slot)">上传</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_import_keyword_{{appid}}_{{ng_slot.id}}_{{ng_slot.name}}">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                                    </div>

                            </tr>
                        </tbody>
                    </table>

                    <div class="btn-toolbar nlu-page">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <button class="btn btn-default" ng-click="goto_page_keyword(1);"><i class="icon-step-backward"></i> 首页</button>
                                <button class="btn btn-default" ng-click="goto_page_keyword(keyword_page_setting.cur_page - 1);"><i class="icon-chevron-left"></i> 上一页</button>
                                <button class="btn btn-primary">{{keyword_page_setting.cur_page}}</button>
                                <button class="btn btn-default" ng-click="goto_page_keyword(keyword_page_setting.cur_page + 1);">下一页 <i class="icon-chevron-right"></i></button>
                                <button class="btn btn-default" ng-click="goto_page_keyword(keyword_page_setting.total_page);">末页 <i class="icon-step-forward"></i></button>
                                <button class="btn btn-default disabled">共({{keyword_page_setting.total_num}}项，共{{keyword_page_setting.total_page}}页)</button>
                                <div class="input-group input-group col-md-2">
                                    <input type="text" class="form-control" id="model_list_goto_page" value="{{goto_some_page}}" placeholder="跳转页" ng-model="goto_some_page">
                                    <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button" ng-click="goto_page_keyword(goto_some_page);" ><span class="glyphicon glyphicon-search" ></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /col-md-offset-1 col-md-10 -->
                </div>
                  <div  class="nlu-action">
                         <button ng-show="service_status ==1" href=""  data-toggle="modal" data-target="#model-add_keyword"  class="btn btn-primary">添加keywords</button>




                                                      <div class="modal fade" id="model-add_keyword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">填入描述信息</h4>
                            </div>
                            <div class="modal-body">
                                 <br>
                            <form class="form-horizontal" role="form" id="add_keyword_form">
                                 <div class="form-group">
                                        <label for="query" class="col-sm-3 control-label">keyword</label>
                                        <div class="col-sm-1">
                                            <label class="control-label">kw_</label>
                                        </div>
                                        <div class="col-sm-8" style="margin-left: -16px;width: 69%;">
                                            <input type="text" class="form-control" id="keyword_name" placeholder="输入 a-z 0-9 或 _， 例如： kw_time_001">
                                        </div>
                                    </div>


                           <!--      <div class="form-group">
                                    <label for="query"  class="col-sm-3 control-label">keyword</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="keyword_name" placeholder="只能输入a-z 0-9以及_">
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label for="query" class="col-sm-3 control-label">描述</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="keyword_description" placeholder="">
                                    </div>
                                </div>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" ng-click="add_keyword()">新增</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="add_keyword_cancel">取消</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>


                                    </div>
            </div>
            <!-- /row -->
        </div>

    </div>

</div>
<link rel="stylesheet" href="/static/css/metroStyle.css" type="text/css">
<link rel="stylesheet" href="/static/css/demo.css" type="text/css">
<script type="text/javascript" src="/static/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="/static/js/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="/static/js/jquery.ztree.exedit.js"></script>
<script type="text/javascript">


     slot_import  = function (id){
                //alert('123')
        // }
             var formData = new FormData();
        // var file = $("#upload_slot_file").val();
        // var file_name_pre=file.replace(/^.+?\\([^\\]+?)(\.[^\.\\]*?)?$/gi,"$1");
        // var file_name_suf=file.replace(/.+\./,"");   //正则表达式获取后缀v
        // var file_name = file_name_pre + '.' +file_name_suf
        // if (file_name == '.'){
        //     return;
        // }
        formData.append('file', $('#' + id)[0].files[0]);
            $.ajax({
            url: '/mana/import?slot_name=' +$('#hidden_slot_name').val() + '&file_name=file_name_test',
            type: 'POST',
             cache: false,
             data: formData,
             processData: false,
         contentType: false
        }).done(function(res) {
            if (res['errno'] == 0){
            alert('上传成功')
        }
        else{
            alert(res['msg'])
        }
        }).fail(function(res) {});

            }
</script>

