<div role="tabpanel" class="tab-pane fade active in" id="app-mana" aria-labelledby="app-mana-tab">
    <br>
    <div class="row">
        <div class="col-md-offset-1 col-md-10 nlu-appmodel-table">

            <!--
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                应用创建成功
            </div>
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                应用修改成功
            </div>-->
            <h4>沙盒环境</h4>
            <table class="table table-condensed table-bordered table-hover" >
                <thead>
                    <th>qu服务名</th>
                    <th>bot服务名</th>
                    <th>qu bns</th>
                    <th>bot bns</th>
                    <th>产品线</th>
                    <th>服务状态</th>
                    <th>操作</th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in app_service">
                        <td title="{{item.qu_service_name}}" ng-click="show_info(item.qu_service_name);">{{item.qu_service_name| limitTo:16}}</td>
                        <td title="{{item.bot_service_name}}" ng-click="show_info(item.bot_service_name);">{{item.bot_service_name| limitTo: 16}}</td>
                        <td title="{{item.qu_bns}}" ng-click="show_info(item.qu_bns);">{{item.qu_bns| limitTo: 16}}</td>
                        <td title="{{item.bot_bns}}" ng-click="show_info(item.bot_bns);">{{item.bot_bns| limitTo: 16}}</td>
                        <td>{{item.product_line}}</td>
                        <td>{{item.status_name}}</td>
                        <td>
                            <!-- <span class="glyphicon glyphicon-edit" title="编辑"></span>
                                              <span class="glyphicon glyphicon-ok-circle" title="验证"></span>
                                              <span class="glyphicon glyphicon-trash" title="删除"></span> -->
                            <a href="" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModalEditApp_{{item.id}}" ng-click="open_modal(myModalEditApp_item.id)">修改</a>
                            <!--<a href="" class="btn btn-warning btn-xs">暂停</a>-->
                            <a href="" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModalCheckApp_{{item.id}}" ng-click="open_modal(myModalCheck_item.id)">验证</a>
                            <a href="" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModalOnline_{{item.id}}">一键上线</a>
                        </td>

                    </tr>
            </table>
            <!-- check Modal -->
            <div class="modal fade" ng-repeat="item in app_service" id="myModalCheckApp_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:#333">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" ng-click="reset_form(check_service_result_form_item.id, item_id)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="myModalLabel">验证</h4>
                                    </div>
                                    <div class="modal-body">
                                        <br>
                                        <form class="form-horizontal" role="form" id="check_service_result_form_{{item.id}}">
                                            <div class="form-group">
                                                <label for="query" class="col-sm-3 control-label">query</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="query" id="send_query_{{item.id}}" required="required" value="">
                                                </div>
                                            </div>
                                            <input type="hidden" name="id" id="service_id_{{item.id}}" value="{{item.id}}">
                                            <div class="form-group" id="qu_result_div_{{item.id}}" style="display:none">
                                                <label for="app-type" class="col-sm-3 control-label">qu结果</label>
                                                <div class="col-sm-9">
                                                    <pre id="qu_result_{{item.id}}" style="height:300px;"></pre>
                                                </div>
                                            </div>
                                            <div class="form-group" style="display: none" ng-if="item.type==='qubot'">
                                                <label for="app-type" class="col-sm-3 control-label">bot结果</label>
                                                <div class="col-sm-9">
                                                    <textarea type="text" class="form-control" id="bot_result_{{item.id}}" name="bot_result" readonly="readonly"></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success" ng-click="check_result(item.id);">验证</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset_form(check_service_result_form_item.id, item.id)">取消</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end modal -->
            <!-- edit Modal -->
            <div class="modal fade" ng-repeat="item in app_service" id="myModalEditApp_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:#333">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">编辑应用</h4>
                        </div>
                        <div class="modal-body">
                            <br>
                            <form class="form-horizontal" role="form">
                                <!-- <div class="form-group">
                                                                <label for="app-name" class="col-sm-3 control-label">应用名称</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" name="app_name"  required="required" value={{item.name}}>
                                                                </div>
                                                            </div> -->
                                <input type="hidden" name="id" value="{{item.id}}">
                                <div class="form-group">
                                    <label for="app-type" class="col-sm-3 control-label">应用类型</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="app_type_{{item.id}}" name="app_type" value="{{item.type}}" readonly="readonly" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="qu-name" class="col-sm-3 control-label">qu服务名</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="qu_name" id="qu_name_{{item.id}}">
                                            <option  ng-repeat="it in service_type" ng-if="it.type == 'qu'  && it.service_name == item.qu_service_type" selected="selected" value="{{it.service_name}}">{{it.service_name}}</option>
                                            <option  ng-repeat="it in service_type" ng-if="it.type == 'qu'  && it.service_name != item.qu_service_type" value="{{it.service_name}}">{{it.service_name}}</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="qu-model" class="col-sm-3 control-label">qu模板</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="qu_model" id="qu_model_{{item.id}}">
                                            <option ng-repeat="it in model_template" ng-if="it.model_template_name == item.qu_model_template && item.qu_model_template!='' " selected="selected" value="{{it.model_template_name}}">{{it.model_template_name}}</option>
                                            <option ng-repeat="it in model_template" ng-if="it.type == 'qu' "  value="{{it.model_template_name}}">{{it.model_template_name}}</option>
                                            <option ng-repeat="it in model_template" ng-if="it.type == 'qu' "  value="{{it.model_template}}">{{it.model_template}}</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="bot-name-form-group" >
                                    <label for="bot-name" class="col-sm-3 control-label">bot服务名</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="bot_name_{{item.id}}" name="bot_name" id="bot_name_{{item.id}}">
                                            <option ng-repeat="it in service_type" ng-if="it.type == 'qubot' && it.service_name == item.bot_service_type" selected="true" value="{{it.service_name}}">{{it.service_name}}</option>
                                            <option ng-repeat="it in service_type" ng-if="it.type == 'qubot' && it.service_name != item.bot_service_type" value="{{it.service_name}}">{{it.service_name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="bot-model-form-group"  >
                                    <label for="bot-model" class="col-sm-3 control-label">bot模板</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="bot_model_{{item.id}}" name="bot_model" id="bot_model_{{item.id}}">
                                            <option ng-repeat="it in model_template" ng-if="item.type == 'qubot'  && it.model_template_name == item.bot_model_template" selected="true" value="{{it.model_template_name}}">{{it.model_template_name}}</option>
                                            <option ng-repeat="it in model_template" ng-if="it.type == 'qubot' && it.model_template_name != item.bot_model_template && it.model_template_name !='' "  value="{{it.model_template_name}}">{{it.model_template_name}}</option>
                                            <option ng-repeat="it in model_template" ng-if="it.type == 'qubot' && it.model_template !=''"  value="{{it.model_template}}">{{it.model_template}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" ng-click="app_update(item.id)">修改</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- online Modal -->
            <div class="modal fade" ng-repeat="item in app_service" id="myModalOnline_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:#333">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">一键上线</h4>
                        </div>
                        <div class="modal-body">
                            <br>
                            <form class="form-horizontal" role="form" >
                                <!--<div class="form-group">
                                    <label for="app-name" class="col-sm-3 control-label">应用名称</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="app_name"  required="required" value={{item.name}} disabled="">
                                    </div>
                                </div>-->
                                <input type="hidden" name="id" value="{{item.id}}">
                                <div class="form-group">
                                    <label for="app-type" class="col-sm-3 control-label">应用类型</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="app_type_{{item.id}}" name="app_type" value="{{item.type}}" readonly="readonly" disabled="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="qu-name" class="col-sm-3 control-label">qu服务名</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="qu_name" id="qu_name_{{item.id}}">
                                            <option selected="selected" value="{{item.qu_service_type}}" disabled="">{{item.qu_service_type}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="qu-model" class="col-sm-3 control-label">qu模板</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="qu_model" id="qu_model_{{item.id}}">
                                            <option ng-repeat="it in model_template" ng-if="it.model_template_name == item.qu_model_template" selected="selected" value="{{item.qu_model_template}}" disabled="">{{item.qu_model_template}}</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="form-group" id="bot-name-form-group" >
                                    <label for="bot-name" class="col-sm-3 control-label">bot服务名</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="bot_name_{{item.id}}" name="bot_name" id="bot_name_{{item.id}}">
                                            <option ng-repeat="it in service_type" ng-if="it.type == 'qubot' && it.service_name == item.bot_service_type" selected="true" value="{{it.service_name}}" disabled="">{{it.service_name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="bot-model-form-group"  >
                                    <label for="bot-model" class="col-sm-3 control-label">bot模板</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="bot_model_template_{{item.id}}" name="bot_model" id="bot_model_{{item.id}}">
                                            <option ng-repeat="it in model_template" ng-if="item.type == 'qubot'  && it.model_template_name == item.bot_model_template" selected="true" value="{{it.model_template_name}}" disabled="">{{it.model_template_name}}</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="bot-model" class="col-sm-3 control-label">机房选择</label>

                                    <div class="col-sm-9">
                                          <label class="checkbox-inline">
                                            <input type="checkbox" name="rooms" value="qucloud_bj"> qucloud_bj
                                          </label>
                                          <label class="checkbox-inline">
                                            <input type="checkbox" name="rooms" value="dumi_sh01"> dumi_sh01
                                          </label>
                                          <label class="checkbox-inline">
                                            <input type="checkbox" name="rooms" value="dumi_nj03"> dumi_nj03
                                          </label>
                                          <input type="hidden" name="room" id="select-room" value="">
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" ng-click="onekey_online(item.id)">一键上线</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end modal -->


            <hr>
            <h4>线上环境</h4>
            <div ng-show="!online_sevice">
                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                暂无线上环境
            </div>
            <table class="table table-condensed table-bordered table-hover" ng-if="online_sevice.length > 0">
                <thead>
                    <th>qu服务名</th>
                    <th>bot服务名</th>
                    <th>qu bns</th>
                    <th>bot bns</th>
                    <th>产品线</th>
                    <th>服务状态</th>
                    <th>操作</th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in online_service">
                        <td title="{{item.qu_service_name}}" ng-click="show_info(item.qu_service_name);">{{item.qu_service_name| limitTo:16}}</td>
                        <td title="{{item.bot_service_name}}" ng-click="show_info(item.bot_service_name);">{{item.bot_service_name| limitTo: 16}}</td>
                        <td title="{{item.qu_bns}}" ng-click="show_info(item.qu_bns);">{{item.qu_bns| limitTo: 16}}</td>
                        <td title="{{item.bot_bns}}" ng-click="show_info(item.bot_bns);">{{item.bot_bns| limitTo: 16}}</td>
                        <td>{{item.product_line}}</td>
                        <td>{{item.status_name}}</td>
                        <td>
                            <a href="" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModalCheckOnlineApp_{{item.id}}" ng-click="open_modal(myModalCheckOnlineApp_item.id)">修改</a>

                        </td>

                    </tr>
                    <!-- check Modal -->
            <div class="modal fade" ng-repeat="item in oneline_service" id="myModalCheckOnlineApp_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:#333">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" ng-click="reset_form(check_service_result_form_item.id, item_id)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="myModalLabel">验证</h4>
                                    </div>
                                    <div class="modal-body">
                                        <br>
                                        <form class="form-horizontal" role="form" id="check_service_result_form_{{item.id}}">
                                            <div class="form-group">
                                                <label for="query" class="col-sm-3 control-label">query</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="query" id="send_query_{{item.id}}" required="required" value="">
                                                </div>
                                            </div>
                                            <input type="hidden" name="id" id="service_id_{{item.id}}" value="{{item.id}}">
                                            <div class="form-group" id="qu_result_div_{{item.id}}" style="display:none">
                                                <label for="app-type" class="col-sm-3 control-label">qu结果</label>
                                                <div class="col-sm-9">
                                                    <pre id="qu_result_{{item.id}}" style="height:300px;"></pre>
                                                </div>
                                            </div>
                                            <div class="form-group" style="display: none" ng-if="item.type==='qubot'">
                                                <label for="app-type" class="col-sm-3 control-label">bot结果</label>
                                                <div class="col-sm-9">
                                                    <textarea type="text" class="form-control" id="bot_result_{{item.id}}" name="bot_result" readonly="readonly"></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success" ng-click="check_result(item.id);">验证</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset_form(check_service_result_form_item.id, item.id)" id="app_update_cancel_{{item.id}}">取消</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end modal -->
            </table>
        </div>
        <!-- /col-md-offset-1 col-md-10 -->
    </div>
    <!-- /row -->
</div>
<script type="text/javascript">
 function  appTypeChange(appid){
    var obj = document.getElementById("app_type_"+appid);
    var app_type = obj.options[obj.selectedIndex].value;
    bot_name = document.getElementById("bot-name-form-group_"+appid);
    bot_model = document.getElementById("bot-model-form-group_"+appid);
    if (app_type == "qu")
    {
            bot_name.style.display="none";
            bot_model.style.display="none";
    }
    if (app_type == "qubot")
    {
            bot_name.style.display="";
            bot_model.style.display="";
    }

}
</script>
