<div>
    <div role="tabpanel" class="tab-pane fade active in" ng-class="{true: 'tab-pane fade active in', false: 'tab-pane fade'}[settings.slot_isActive]" id="settings-intent-slot" aria-labelledby="settings-slot" ng-show="slot.isSlotShow">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 nlu-appmodel-table">
                <a href="" ng-click="settings_slot_return()" class="btn btn-default">返回</a>
                <hr>
                <h4 ng-show="slot.slot_list.length">{{slot.intent_name}} 下所有的槽位</h4>
                <div class="alert alert-warning alert-dismissible fade in" role="alert" ng-show="!slot.slot_list.length">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        {{slot.intent_name}} 意图下暂无槽位，请先进行添加。

                </div>
                <table class="table table-condensed table-bordered table-hover" ng-show="slot.slot_list.length">
                    <thead>
                        <th>Slots</th>
                        <th>描述</th>
                        <th>角色</th>
                        <!--<th>必要性</th>-->
                        <th>封闭集</th>
                        <th>更新类型</th>
                        <!-- <th>词表</th> -->

                        <th>操作</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="s in slot.slot_list">
                            <td>{{s.slot_name}}</td>
                            <td>{{s.description}}</td>
                            <td>{{s.role}}</td>
                            <!--<td ng-if="!s.necessity"></td>
                            <td ng-if="s.necessity === 'N'">否</td>
                            <td ng-if="s.necessity === 'Y'">是</td>-->
                            <td ng-if="s.is_closed === 'N'">否</td>
                            <td ng-if="s.is_closed === 'Y'">是</td>
                            <td ng-if="s.bot_update_type === '0'">单轮更新</td>
                            <td ng-if="s.bot_update_type === '1'">多轮更新</td>
                            <!-- <td>
                                <a href="" class="btn btn-primary btn-xs">查看</a>
                                <a href="" class="btn btn-success btn-xs">编辑</a>
                                <a href="" class="btn btn-warning btn-xs">导出</a>
                            </td> -->
                            <td><!-- <span class="glyphicon glyphicon-edit" title="编辑"></span> -->
                                <!-- <span class="glyphicon glyphicon-ok-circle" title="验证"></span> -->
                                <span class="glyphicon glyphicon-trash" title="删除" ng-click="del_schema(s.schema_id, s.slot_name, slot.intent_id)"></span>
                                <!-- <a href="" class="btn btn-primary btn-xs">编辑</a>
                                                                          <a href="" class="btn btn-success btn-xs">验证</a>
                                                                          <a href="" class="btn btn-danger btn-xs">删除</a> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a href="" class="btn btn-primary add-intent" data-toggle="modal" data-target="#myModalAddSlot">新增槽位</a>
                <!-- copy Modal -->
                <div class="modal fade" id="myModalAddSlot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">新增槽位</h4>
                            </div>
                            <div class="modal-body">
                                <br>
                                <form class="form-horizontal" role="form" id="add_schema_form">
                                    <div class="form-group">
                                        <label for="query" class="col-sm-3 control-label">槽位名称</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="schema_slot_name" placeholder="只能输入A-Z a-z 0-9以及_">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="query" class="col-sm-3 control-label">中文描述</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="schema_slot_description" placeholder="输入槽位的描述信息">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="query" class="col-sm-3 control-label">角色</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="schema_slot_role" placeholder="输入槽位代表的角色">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="intent" class="col-sm-3 control-label">封闭集</label>
                                        <div class="col-sm-9">
                                            <select id="schema_slot_is_closed" class="form-control" placeholder="">
                                                <option value="Y">是</option>
                                                <option value="N">否</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="intent" class="col-sm-3 control-label">更新类型</label>
                                        <div class="col-sm-9">
                                            <select id="bot_update_type" class="form-control" placeholder="" name="bot_update_type">
                                                <option value="0">单轮更新</option>
                                                <option value="1">多轮更新</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" ng-click="add_schema(slot.intent_id, slot.intent_name, slot.intent_func_slot)">新增</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="add_schema_cancel">取消</button>
                                </div>
                                <!-- <div id="myTabContent-add-intent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="add-intent" aria-labelledby="add-intent-tab">

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="copy-intent" aria-labelledby="copy-intent-tab" ng-show="copy_intent.isShow">

                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <!-- <hr>
                <h4>SYS_WEATHER 下所有的动作</h4>
                <script type="text/ng-template" id="simple-grid.html" src="/static/html/simple-grid.html"></script>
                <div simple-grid="myGridConfig"></div>
                <a href="" class="btn btn-primary add-intent" data-toggle="modal" data-target="#">新增动作</a>
                <a href="" class="btn btn-primary add-intent" data-toggle="modal" data-target="#">保存</a>
                 -->
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade active in" ng-class="{true: 'tab-pane fade active in', false: 'tab-pane fade'}[settings.intent_isActive]" id="settings" aria-labelledby="settings" ng-show="intent.isIntentShow">
        <!-- <div role="tabpanel" class="tab-pane fade active in" id="settings" aria-labelledby="settings" > -->
        <br>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 nlu-appmodel-table">
                <div class="alert alert-warning alert-dismissible fade in" role="alert" ng-show="!intent.intent_list.length">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        暂无意图，请先进行添加。

                </div>
                <table class="table table-condensed table-bordered table-hover" ng-show="intent.intent_list.length">
                    <thead>
                        <th>意图名称</th>
                        <th>中文描述</th>
                        <th>需求分类</th>
                        <th>操作</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ng_intent in intent.intent_list">
                            <td>
                                <a href="" ng-click="show_slots(ng_intent.id, ng_intent.intent_name, ng_intent.func_slot);">{{ng_intent.intent_name}}</a></td>
                            <td>{{ng_intent.description}}</td>
                            <td>{{ng_intent.func_slot}}</td>
                            <td><span class="glyphicon glyphicon-edit" title="编辑" data-toggle="modal" data-target="#myModalEditIntent_{{ng_intent.id}}"></span>
                                <!-- <span class="glyphicon glyphicon-ok-circle" title="验证"></span> -->
                                <span class="glyphicon glyphicon-trash" title="删除" ng-click="del_intent(ng_intent.intent_name, ng_intent.id)"></span>
                                <!-- <a href="" class="btn btn-primary btn-xs">编辑</a>
                                                                                  <a href="" class="btn btn-success btn-xs">验证</a>
                                                                                  <a href="" class="btn btn-danger btn-xs">删除</a> -->
                                <!-- edit Modal -->
                            <div class="modal fade" id="myModalEditIntent_{{ng_intent.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalEdit" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalEdit">编辑意图</h4>
                                        </div>
                                        <div class="modal-body">
                                            <br>
                                            <form class="form-horizontal" role="form" id="edit_intent_form_{{ng_intent.id}}">
                                                <div class="form-group">
                                                    <label for="query" class="col-sm-3 control-label">意图名称</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="edit_intent_name_{{ng_intent.id}}" name="intent_name" value="{{ng_intent.intent_name}}" placeholder="只给你能输入A-Z a-z 0-9以及_" required="true" readonly="true">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="query" class="col-sm-3 control-label">中文描述</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="edit_description_{{ng_intent.id}}" name="description" value="{{ng_intent.description}}" placeholder="输入intent的描述信息" required="true">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="intent" class="col-sm-3 control-label">需求分类</label>
                                                    <div class="col-sm-9">
                                                        <select id="edit_func_slot_{{ng_intent.id}}" class="form-control" placeholder="选择或者输入一个意图" readonly="readonly" disabled="true">
                                                            <option value="info-ynq" selected="true" ng-if="ng_intent.func_slot === 'info-ynq' ">用户主动单轮-信息查询类-是非问(info-ynq)</option>
                                                            <option value="info-ynq" ng-if="ng_intent.func_slot != 'info-ynq' ">用户主动单轮-信息查询类-是非问(info-ynq)</option>

                                                            <option value="info-slctq" selected="true" ng-if="ng_intent.func_slot === 'info-slctq' ">用户主动单轮-信息查询类-比较/选项问(info-slctq)</option>
                                                            <option value="info-slctq" ng-if="ng_intent.func_slot != 'info-slctq' ">用户主动单轮-信息查询类-比较/选项问(info-slctq)</option>

                                                            <option value="info" selected="true" ng-if="ng_intent.func_slot === 'info' ">用户主动单轮-信息查询类-其他查询问(info)</option>
                                                            <option value="info" ng-if="ng_intent.func_slot != 'info' ">用户主动单轮-信息查询类-其他查询问(info)</option>

                                                            <option value="exe" selected="true" ng-if="ng_intent.func_slot === 'exe' ">用户主动单轮-请求行为类(exe)</option>
                                                            <option value="exe" ng-if="ng_intent.func_slot != 'exe' ">用户主动单轮-请求行为类(exe)</option>

                                                            <option value="update" selected="true" ng-if="ng_intent.func_slot === 'update' ">用户主动多轮-信息更新类(update)</option>
                                                            <option value="update" ng-if="ng_intent.func_slot != 'update' ">用户主动多轮-信息更新类(update)</option>

                                                            <option value="ans-info" selected="true" ng-if="ng_intent.func_slot === 'ans-info' ">BOT主动多轮-用户答复类-提供信息(ans-info)</option>
                                                            <option value="ans-info" ng-if="ng_intent.func_slot != 'ans-info' ">BOT主动多轮-用户答复类-提供信息(ans-info)</option>

                                                            <option value="ans-yn" selected="true" ng-if="ng_intent.func_slot === 'ans-info' ">BOT主动多轮-用户答复类-是非答复(ans-yn)</option>
                                                            <option value="ans-yn" ng-if="ng_intent.func_slot != 'ans-info' ">BOT主动多轮-用户答复类-是非答复(ans-yn)</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary" ng-click="edit_intent(ng_intent.id)">修改</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal" id="edit_cancel_{{ng_intent.id}}">取消</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Modal-->
                            </td>

                        </tr>
                </table>
                <a href="" class="btn btn-success add-intent" data-toggle="modal" data-target="#myModalCopyIntent" >复用意图</a>
                <a href="" class="btn btn-primary add-intent" data-toggle="modal" data-target="#myModalAddIntent">新增意图</a>
                <!-- add Modal -->
                <div class="modal fade" id="myModalAddIntent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">新增意图</h4>
                            </div>
                            <div class="modal-body">
                                <br>
                                <form class="form-horizontal" role="form" id="add_intent_form">
                                    <div class="form-group">
                                        <label for="query" class="col-sm-3 control-label">意图名称</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="intent_name" name="intent_name" placeholder="只能输入A-Z a-z 0-9以及_">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="query" class="col-sm-3 control-label">中文描述</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="description" name="description" placeholder="输入intent的描述信息">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="intent" class="col-sm-3 control-label">需求分类</label>
                                        <div class="col-sm-9">
                                            <select id="add_func_slot" class="form-control" placeholder="选择或者输入一个意图" name="func_slot">
                                                <option value="info-ynq">用户主动单轮-信息查询类-是非问(info-ynq)</option>
                                                <option value="info-slctq">用户主动单轮-信息查询类-比较/选项问(info-slctq)</option>
                                                <option value="info">用户主动单轮-信息查询类-其他查询问(info)</option>
                                                <option value="exe">用户主动单轮-请求行为类(exe)</option>
                                                <option value="update">用户主动多轮-信息更新类(update)</option>
                                                <option value="ans-info">BOT主动多轮-用户答复类-提供信息(ans-info)</option>
                                                <option value="ans-yn">BOT主动多轮-用户答复类-是非答复(ans-yn)</option>
                                            </select>
                                        </div>
                                    </div>

                                </form>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" ng-click="add_intent();">新增</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="add_cancel">取消</button>
                                </div>
                                <!-- <div id="myTabContent-add-intent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="add-intent" aria-labelledby="add-intent-tab">

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="copy-intent" aria-labelledby="copy-intent-tab" ng-show="copy_intent.isShow">

                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Modal-->
                <!-- copy Modal -->
                <div class="modal fade" id="myModalCopyIntent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">复用意图</h4>
                            </div>
                            <div class="modal-body">
                                <br>
                                <form class="form-horizontal" role="form" id="copy_intent_form">
                                    <div class="form-group">
                                        <label for="intent" class="col-sm-3 control-label">选择意图</label>
                                        <div class="col-sm-9">

                                            <select id="copy_intent_name" class="form-control" placeholder="" onchange="change_copy_intent();">

                                                <option ng-repeat="ai in intent.copy_intent_list" value="{{ai.intent_name}}:{{ai.func_slot}}">{{ai.intent_name}}</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="intent" class="col-sm-3 control-label">中文描述</label>
                                        <div class="col-sm-9">
                                                <input type="text" class="form-control" value="" id="copy_intent_description">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="intent" class="col-sm-3 control-label">需求类型</label>
                                        <div class="col-sm-9">

                                                <input type="text" class="form-control" value="用户主动单轮-信息查询类-是非问(info-ynq)" id="copy_func_slot_text" readonly="true" ng-if=" intent.copy_intent_list[0].func_slot === 'info-ynq' " >
                                                <input type="text" class="form-control" value="用户主动单轮-信息查询类-比较/选项问(info-slctq)" id="copy_func_slot_text" readonly="true" ng-if=" intent.copy_intent_list[0].func_slot === 'info-slctq' " >
                                                <input type="text" class="form-control" value="用户主动单轮-信息查询类-其他查询问(info)" id="copy_func_slot_text" readonly="true" ng-if=" intent.copy_intent_list[0].func_slot === 'info' " >
                                                <input type="text" class="form-control" value="用户主动单轮-请求行为类(exe)" id="copy_func_slot_text" readonly="true" ng-if=" intent.copy_intent_list[0].func_slot === 'exe' " >
                                                <input type="text" class="form-control" value="用户主动多轮-信息更新类(update)" id="copy_func_slot_text" readonly="true" ng-if=" intent.copy_intent_list[0].func_slot === 'update' " >
                                                <input type="text" class="form-control" value="BOT主动多轮-用户答复类-提供信息(ans-info)" id="copy_func_slot_text" readonly="true" ng-if=" intent.copy_intent_list[0].func_slot === 'ans-info' " >
                                                <input type="text" class="form-control" value="BOT主动多轮-用户答复类-是非答复(ans-yn)" id="copy_func_slot_text" readonly="true" ng-if=" intent.copy_intent_list[0].func_slot === 'ans-yn' " >
                                                <!--<option value="info-ynq" selected="true" ng-if="ng_intent.func_slot === 'info-ynq' ">用户主动单轮-信息查询类-是非问(info-ynq)</option>
                                                <option value="info-slctq" selected="true" ng-if="ng_intent.func_slot === 'info-slctq' ">用户主动单轮-信息查询类-比较/选项问(info-slctq)</option>
                                                <option value="info" selected="true" ng-if="ng_intent.func_slot === 'info' ">用户主动单轮-信息查询类-其他查询问(info)</option>
                                                <option value="exe" selected="true" ng-if="ng_intent.func_slot === 'exe' ">用户主动单轮-请求行为类(exe)</option>
                                                <option value="update" selected="true" ng-if="ng_intent.func_slot === 'update' ">用户主动多轮-信息更新类(update)</option>
                                                <option value="ans-info" selected="true" ng-if="ng_intent.func_slot === 'ans-info' ">BOT主动多轮-用户答复类-提供信息(ans-info)</option>
                                                <option value="ans-yn" selected="true" ng-if="ng_intent.func_slot === 'ans-info' ">BOT主动多轮-用户答复类-是非答复(ans-yn)</option>-->
                                        </div>
                                    </div>
                                </form>
                                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    复用系统已有意图的同时，其slot列表和word词汇也会被复用。
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" ng-click="copy_intent();">复用</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="copy_cancel">取消</button>
                                </div>
                                <!-- <div id="myTabContent-add-intent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="add-intent" aria-labelledby="add-intent-tab">

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="copy-intent" aria-labelledby="copy-intent-tab" ng-show="copy_intent.isShow">

                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Modal-->
            </div>
            <!-- /col-md-offset-1 col-md-10 -->
        </div>
        <!-- /row -->
    </div>
</div>
<script>
function change_copy_intent()
{
    func_map = {
        "info-ynq":"用户主动单轮-信息查询类-是非问(info-ynq)",
        "info-slctq":"用户主动单轮-信息查询类-比较/选项问(info-slctq)",
        "info":"用户主动单轮-信息查询类-其他查询问(info)",
        "exe":"用户主动单轮-请求行为类(exe)",
        "update":"用户主动多轮-信息更新类(update)",
        "ans-info":"BOT主动多轮-用户答复类-提供信息(ans-info)",
        "ans-yn":"BOT主动多轮-用户答复类-是非答复(ans-yn)",
    }
    var name_func = $("#copy_intent_name").val().split(":");
    $("#copy_func_slot_text").val(func_map[name_func[1]]);
}
</script>
